APScheduler==3.7.0
alembic==1.7.3
attrs==20.2.0
celery==4.4.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
coverage==5.3
crccheck==1.1
crc16==0.1.1
crcmod==1.7
flake8==3.8.4
Flask==1.1.2
Flask-Migrate==3.1.0
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
Flask-APScheduler==1.12.2
flask-crontab==0.1.2
Flask-Cors==3.0.10
SQLAlchemy==1.4.25
freezegun==1.0.0
environs==9.3.3
idna==2.10
ipython==7.29.0
importlib-metadata==2.0.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow-sqlalchemy==0.26.1
marshmallow==3.9.1
mccabe==0.6.1
Naked==0.1.31
openpyxl==3.1.1 
newrelic==7.16.0.178
pandas==1.5.3 
packaging==20.4
pluggy==0.13.1
py==1.9.0
psycopg2-binary==2.9.3
pycodestyle==2.6.0
pycryptodome==3.12.0
pyflakes==2.2.0
pymongo==3.11.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==6.0
redis==4.0.2
requests==2.24.0
shellescape==3.8.1
six==1.15.0
sniffio==1.2.0
toml==0.10.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.3.0
PyJWT==2.2.0
jsonmerge==1.9.0
gunicorn==20.1.0
gevent==22.10.2 